# global

TIME_ZONE=Pacific/Auckland

# dns-server

PIHOLE_WEBSERVER_PORT=8088

## defaults

UNBOUND_PORT=5335

# media-server

## defaults

JELLYFIN_PORT=8096

QBITTORRENT_WEBUI_PORT=8081
QBITTORRENT_TORRENTING_PORT=6881

NZBGET_PORT=6789

SEERR_PORT=5055

SONARR_PORT=8989

RADARR_PORT=7878

LIDARR_PORT=8686
