.env
.credentials

# dns-server
# pihole
dns-server/etc-pihole/*
# unbound
dns-server/unbound/unbound.conf.d/*

# media-server
media-server/data/media/books/*
media-server/data/media/movies/*
media-server/data/media/music/*
media-server/data/media/shows/*
media-server/data/media/anime/*

media-server/data/torrents/books/*
media-server/data/torrents/movies/*
media-server/data/torrents/music/*
media-server/data/torrents/shows/*
media-server/data/torrents/anime-shows/*
media-server/data/torrents/anime-movies/*

media-server/data/usenet/complete/books/*
media-server/data/usenet/complete/movies/*
media-server/data/usenet/complete/music/*
media-server/data/usenet/complete/shows/*
media-server/data/usenet/complete/anime/*
media-server/data/usenet/intermediate/*
media-server/data/usenet/incomplete/*
# jellyfin
media-server/services/jellyfin/config/*
media-server/services/jellyfin/cache/*

# qbittorrent
media-server/services/qbittorrent/*

# nzbget
media-server/services/nzbget/*

# seerr
media-server/services/seerr/*

# sonarr
media-server/services/sonarr/*

# radarr
media-server/services/radarr/*

# lidarr
media-server/services/lidarr/*

# bazarr
media-server/services/bazarr/*

# recyclarr
media-server/services/recyclarr/*

# prowlarr
media-server/services/prowlarr/*

# vpn
# tailscale
vpn-server/tailscale/data/

# proxy-server
# nginx-proxy-manager
proxy-server/nginx-proxy-manager/data/*
proxy-server/nginx-proxy-manager/lets-encrypt/*

# password manager
# tailscale
password-manager/tailscale/data/
# vaultwarden
password-manager/vaultwarden/data/*

# cloud server
# tailscale
cloud-server/tailscale/data/
# immich 
cloud-server/immich/postgres/

# home-assistant
# tailscale
hub/home-assistant/*

# zabbix
uptime-monitoring-service/zabbix/**/*
