# tailscale
# Add authentication key
TS_AUTHKEY=

# vaultwarden
WEBSOCKET_ENABLED=true
ROCKET_PORT=8081

# Add admin token
ADMIN_TOKEN=

DOMAIN=https://vaultwarden.hen-kanyu.ts.net

IP_HEADER=X-Forwarded-For

SENDS_ALLOWED=false

SIGNUPS_ALLOWED=false
INVITATIONS_ALLOWED=false
