# === TOGGLE MODEL SELECTION HERE ===

# AI Model. I.e. gemma, deepseek, etc.
MODEL_TYPE=qwen

# ALL TESTED IN WSL2 IN A DOCKER CONTAINER. RESULTS MAYBE BETTER ON BARE METAL

# OPTION 1: SMART (Q5) - Good for logic, ~15 tok/s on 4070 Ti 12GB
#MY_MODEL=unsloth/gemma-4-26B-A4B-it-UD-Q5_K_XL.gguf
#MY_MODEL_ALIAS="Gemma 4 26B-A4B (Q5_K_XL)"

#OPTION 2: FAST (Q3) - Instant feel, ~33 tok/s on 4070 Ti 12GB
#MY_MODEL=unsloth/gemma-4-26B-A4B-it-UD-Q3_K_M.gguf
#MY_MODEL_ALIAS="Gemma 4 26B-A4B (Q3_K_M)"

#OPTION 3: FAST (Q4) ~20 tok/s on 4070 Ti 12GB
#MY_MODEL=bartowski/DeepSeek-R1-Distill-Qwen-14B-Q4_K_M.gguf
#MY_MODEL_ALIAS="DeepSeek R1 Distill Qwen 14B (Q4_K_M)"

#OPTION 4: BEST (Q4) ~20 tok/s on 4070 Ti 12GB
MY_MODEL=unsloth/Qwen3.6-35B-A3B-UD-Q4_K_M.gguf
MY_MODEL_ALIAS="Qwen3.6 35B A3B UD (Q4_K_M)"

# === VISION SETTINGS ===
VISION_MODEL=unsloth/mmproj-BF16.gguf

# === PORT ===

LLAMA_PORT=8082
SEARXNG_PORT=8083
